body{
    color:black;
    background-color:#fafafa;
}

.container.main{
    margin-top:50px;

}
.quotes{
   
}
.center-container {
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:table; 
}

.quote-centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
q{ 
    font-size: 18px;
    font-weight: bolder;
}
.quote{
    width:50%;
    margin: 0 auto;
    position: relative;
}

.quote-author{
    font-weight: bold;
    margin-top: 10px;
}

.date-centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.quote-date{
    bottom: 0;
    position: fixed;
    margin: 5% auto;
    left: 0;
    right: 0;
    font-weight: bold;
    width: 160px;
    text-align: center;
}

.quote-date-in{
    float:left;
    display: block;
    width: 120px;
}

.quote-date-glyph{
    float:left;
    display: block;
    width: 20px;
    cursor: pointer;
    font-size: 20px;
}

.quote { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-iteration-count:infinite; 
    -webkit-animation-name: bounceInDown; 
    animation-name: bounceInDown; 
} 

@-webkit-keyframes bounceInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(30px); 
    } 
    80% { 
        -webkit-transform: translateY(-10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(30px); 
    } 
    80% { 
        transform: translateY(-10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.quote.ng-hide {
    line-height: 0;
    opacity: 0;
}

