<div class="quotes">
    <div class="center-container">
        <div class="quote-centered">
            <div ng-repeat="quote in quotes" ng-hide="!isCurrentQuoteIndex($index)">
                <div class="quote" ng-hide="!isCurrentQuoteIndex($index)">
                    <q>{{quote.text}}</q>
                    <p class="quote-author">{{quote.author}}</p>
                </div>
                <p class="quote-date"> 
                    <span class="quote-date-glyph glyphicon glyphicon-triangle-left" aria-hidden="true" ng-click="nextQuote()"></span>
                    <span class="quote-date-in" ng-if="$index==0">Today</span>
                    <span class="quote-date-in" ng-if="!$index==0">{{quote.date| date:'mediumDate'}}</span>
                    <span class="quote-date-glyph glyphicon glyphicon-triangle-right" aria-hidden="true" ng-click="prevQuote()"></span>
                </p>
            </div>
        </div>
    </div>
</div>


