<div class="panel panel-default">
    <div class="panel-heading">Register to fortune</div>
    <div class="panel-body">
        <div class="alert alert-success" role="alert" ng-if="!isEmptyObject(valid)">{{valid}}</div>
        <form name="myForm" ng-submit="submit()" ng-if="isEmptyObject(valid)">
            <div class="form-group" ng-class="{'has-error': !myForm.$valid && click ===1 || !isEmptyObject(error), 'has-success': myForm.$valid && click ===1}">
                <div class="alert alert-danger" role="alert" ng-if="!isEmptyObject(error)">{{error}}</div>
                <label for="email">Email address</label>
                <input name="email" type="email" class="form-control" id="inputEmail1" placeholder="Email" ng-model="email.fortunebundle_email.email" ng-click="click=1" required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>


